.d6{
    margin-bottom: 30px;
    color: black;
    background-color: blueviolet;
    
}

.i3{
    color: black;
    font-style: normal;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}







.btn{
    background-color: rgb(87, 27, 167);
    border:none;
    transition: 0.5s ;
    size: small;
    width: 150px;
    height: 60px;
}
.btn:hover{
    background-color: rgb(137, 98, 189);
}

.carousel img{
    height: 800px;
    filter:brightness(50%);
}
.carousel p{
    width: 100%;
    font-size: medium;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}
.carousel h1{
    font-size:4vw;
    font-weight:600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.noborder{
    border:0;
    outline:0;
    background-color: white;
    width:100%;
}
@media (max-width:500px){
    .btn{
        font-size: smaller;
    }
}
h5{
    color: blueviolet;
}

img{
    vertical-align: middle;
}
.col{
    box-shadow: 30px;
}
.col-lg-7{
    position: sticky;
    transition: 0.2s;
}
.d5{

    border-radius: 40px;
    border: solid violet;
    padding: 15px, 25px;
    color: blueviolet;
}
.col-lg-4{
    /* flex-wrap: wrap; */
    display: block;
}

@media (min-width:992px){
    .col-lg-4{
        flex: auto;
        width: 20%;
    }
}
.mx{
    margin-right: auto;
    margin-left: auto;
}
div{
    display: block;
}
.card mb-3{
    width: 50%;
    /* height: fit-content; */
    /* margin: 100px; */
}
.col-md-4{
    width: 900px;
    margin: 100px;
    height: fit-content;
   
   
}
.imgg2{
    size: 500px;
    height: 400px;
    margin-top: 0px;
}
.d7{
    text-align: center;
    size: 100px;
    border-color: blueviolet;
   width: 200px;
   height: 50px;
    color: blueviolet;
    background-color: azure;
    border-radius: 40px;
    padding: 15px,25px;

}


    
.col-lg-4{
    flex-wrap: wrap;
    /* border-radius: 20px; */
    /* box-shadow: ; */
}
.row{
    align-items: center;
    flex-wrap: wrap;
    /* width: 50%;
    height: 300px; */
    
}
.bg-white d4{
    box-sizing: border-box 10px;
    box-shadow: darkgray;
    
}
.div{
    display: block;
}
.col-lg-4:hover{
    background-color: lightgrey;
}
/* .row:hover{
    background-color: lightgrey;
} */
.carousel-item{
    position: relative;
    transition: transform o.6s ease-in-out;
    float: left;
    display: none;
}
.row m-0 mt-4{
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    /* background-color:rgb(38, 7, 70); */
    margin-inline-start: 50px;
    margin-left: 100px;
    width: 1100px;
    height: auto;
    align-content: space-evenly;
}
.col-lg-3{
    background-color:rgb(38, 7, 70);
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    width: 300px;
    height: 400px;
    padding: 20px;
   overflow: hidden;
   float: left 1px;
   margin-left: -7px;
   align-content: space-evenly;
}
.v1{
    text-decoration: none;
    color: white;
}
.log{
    align-items: center;
    text-align: justify;
}
.log2{
    padding-bottom: 20px;
    size: 200px;
    margin-bottom: 30px;
}
.v3{
    text-decoration: none;
    color: white;  
    flex-wrap: wrap;
}
.k1, .k2, .k3, .k4 {
    height: 500px;
    overflow: hidden;
    margin-top: 10px;
   align-items: flex-start;
    
}
@media (min-width:992px){
    .col-lg-3{
        flex:  0 0 auto;
        /* width: 0%; */
        width: -10%;
    }
}
.v3{
    margin-top: 0px;
}
.v{
    list-style: none;
}
/* .row4{
    flex-wrap: wrap;
   background-color: lightgrey;
   align-items: center;
} */

.col-md-6{
    align-items: self-end;
}
.a2{
    text-decoration: none;
    /* text-align: end; */
}
.a1{
    text-decoration: none;
    flex-direction: row;
    color: black;
    width: 25%;
    padding-top: 5%;
}

.m{
    margin: 0%;
}







  