
.btn{
    background-color: rgb(87, 27, 167);
    border:none;
    transition: 0.5s ;
}
.btn:hover{
    background-color: rgb(137, 98, 189);
}

.carousel img{
    height: 800px;
    filter:brightness(50%);
}
.carousel p{
    width:65%;
    text-align: Left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carousel h1{
    font-size:4vw;
    font-weight:600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


.noborder{
    border:0;
    outline:0;
    background-color: white;
    width:100%;
}
@media (max-width:500px){
    .btn{
        font-size: smaller;
    }
}

